@import url("./keyframes.css");

#doors {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

#frontopening {
  height: 100%;
  width: 100%;
  background-image: url("../images/opening/FrontOpening.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  z-index: 5;
}

#backDoor {
  height: 61.5vh;
  width: 62vh;
  background-color: #f5f5f5;
  position: absolute;
  top: 32vh;
  left: calc(50% - 30.65vh);
  z-index: 3;
}

.door {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.L {
  left: 0;
  animation-iteration-count: 1;
}

.R {
  left: 50%;
  animation-iteration-count: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* #doors {
  background-color: #cfcfcf;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.backDoor {
  background-color: #fff;
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
}

.door {
  background-color: brown;
  position: absolute;
  width: 200px;
  height: 300px;
  transition: all 0.5s ease-in-out;
  border: 1px solid black;
  box-sizing: border-box;
}

.R {
  transform-origin: right;
  top: 0px;
  left: 200px;
}

.L {
  transform-origin: left;
  top: 0px;
  left: 0px;
}

.doorOpenL {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}

.doorOpenR {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(105deg);
}

*/

#inputName {
  width: 250px;
  height: 40px;
  position: absolute;
  top: calc(62.41% - calc(56px + 25px));
  left: calc(50% - 125px);
  z-index: 6;

  background: #efefef;
  border: 3px solid #88371c;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 1px solid black;
  text-align: center;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputName:focus::placeholder {
  color: transparent;
}

#btn {
  width: 120px;
  height: 50px;
  position: absolute;
  top: calc(62.41% + 25px);
  left: calc(50% - 60px);
  z-index: 6;

  background: #efefef;
  border: 3px solid #88371c;
  outline: 1px solid black;
  box-shadow: inset -2px -2px 6px #000000ee;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: 0s 800ms;

  /*   font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #393a35;
}

#btn:hover {
  background-color: #e9e9e9;
}

#btn:active {
  background-color: #e9e9e9;
  box-shadow: inset 2px 2px 6px #000000ee;
  transition: 0s;
}
