#select-broth {
  padding: 0;
  height: 87.5%;
}

#table3 {
  display: flex;
  align-items: center;
}

#only-broth {
  display: flex;
  margin-left: 2%;
}

#broth {
  display: flex;
}

#broth img {
  width: 100px;
  height: 100px;
}

#outer-pot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-image: url(../images/others/box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pot {
  width: 200px;
  height: 160px;
  background-color: #add8e6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
