:root {
  --broth-off: url("../images/others/bowl.png") no-repeat center/20vmin;

  --broth-noddle: url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --fish-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(221, 205, 156, 0.8) 64%,
        transparent 64%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --chicken-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(230, 198, 93, 0.8) 64%,
        transparent 64%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --meat-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(151, 47, 18, 0.9) 64%,
        transparent 64%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --pork-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(74, 47, 15, 0.9) 64%,
        transparent 64%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --shoyu-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(38, 32, 11, 0.9) 64%,
        transparent 64%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;
}

#select-broth {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 87.5%;
}

#table3 {
  flex-direction: column;
}

#broth-noodle {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#only-broth {
  display: flex;
  width: 100%;
  height: 100%;
}

#broth {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#broth > li {
  width: 18%;
}

#broth img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#outer-pot {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  background: var(--broth-off);
}

#pot {
  width: 100%;
  height: 100%;
}

#inner-pot {
  width: 100%;
  height: 100%;
}

#side-broth {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  justify-self: center;
}

#pan-to-ingredients {
  width: 30vmin;
  height: 5vmin;
  border-radius: 10px;
}

#pan-to-ingredients > img {
  height: 100%;
}
