:root {
  --broth-off: url("../images/others/bowl.png") no-repeat center/20vmin;

  --broth-noddle: url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --fish-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(221, 205, 156, 0.8) 64%,
        transparent 65%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --chicken-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(230, 198, 93, 0.8) 64%,
        transparent 65%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --meat-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(151, 47, 18, 0.9) 64%,
        transparent 65%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --pork-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(74, 47, 15, 0.9) 64%,
        transparent 65%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;

  --shoyu-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(38, 32, 11, 0.9) 64%,
        transparent 65%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;
  --vegetable-broth: radial-gradient(
        circle,
        transparent 0%,
        rgba(69, 125, 0, 0.8) 64%,
        transparent 65%
      )
      no-repeat center/20vmin 20vmin,
    url("../images/foods/noddle3.png") no-repeat center/16.5vmin,
    url("../images/others/bowl.png") no-repeat center/20vmin;
}

#select-broth {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 87.5%;
}
/* 
#table3 {
  flex-direction: column;
}
 */
#broth-noodle {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#only-broth {
  display: flex;
  width: 100%;
  height: 100%;
}

#broth {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  list-style: none;
}

#broth > li {
  width: 30%;
  height: 50%;
}

#broth img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scaleX(-1);
}

#broth img:hover {
  margin-top: 1vmin;
  transform: scale(1.1) scaleX(-1);
  cursor: grab;
}

#outer-pot {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  /* background: var(--broth-off); */
  background-image: url(../images/others/bowl.png);
  background-size: cover;
}

#pot {
  width: 100%;
  height: 100%;
}

#inner-pot {
  width: 100%;
  height: 100%;
}

#side-broth {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10%;
}

#pan-to-ingredients {
  width: 20vmin;
  height: 5vmin;
  background: url("../images/menu/next.png") no-repeat center/ auto 90%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%),
    linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
  box-sizing: border-box;
  border-radius: 10px;
  border: 0.5vmin solid black;
  cursor: pointer;
}

#pan-to-ingredients:hover {
  background: url("../images/menu/next.png") no-repeat center/ auto 90%,
    linear-gradient(rgba(230, 198, 93, 1) 0%, rgba(230, 198, 93, 1) 100%),
    linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
}
