.modal {
  width: 50vmin;
  height: 30vmin;
  background: linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1vmin solid black;
  border-radius: 5%/10%;
}

#configuration-modal {
  width: 50vmin;
  height: 30vmin;
  background: linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1vmin solid black;
  border-radius: 5%/10%;
}

.configuration-modal > div:first-child {
  width: 46vmin;
  height: 6vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.configuration-modal > div:first-child > h1 {
  width: 25vmin;
  height: 6vmin;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: 0.5vmin solid black;
  border-radius: 5%/20%;
  color: #f5f5f5;
  font-family: "Antonio-wght";
  font-weight: bold;
  font-size: 4vmin;
  line-height: 1.2;
}

.configuration-modal > div:last-child {
  width: 30vmin;
  height: 18vmin;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 2vmin;
  row-gap: 1vmin;
}

#configuration-modal
  > div:last-child
  > button:nth-child(n + 1):nth-child(-n + 3) {
  width: 8vmin;
  height: 8vmin;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0.5vmin solid black;
  border-radius: 10%;
}

#configuration-modal
  > div:last-child
  > button:nth-child(n + 4):nth-child(-n + 5) {
  width: 13vmin;
  height: 8vmin;
  background-position: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0.5vmin solid black;
  border-radius: 10%/15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#configuration-modal > div:last-child > button {
  cursor: pointer;
  background-color: rgba(230, 198, 93, 0.8);
}

#configuration-modal > div:last-child > button:hover {
  background-color: rgba(230, 198, 93, 1) !important;
}

.volume[level="1"] {
  background-image: url("../images/menu/volume-high.png");
}

.volume[level="2"] {
  background-image: url("../images/menu/volume-middle.png");
}

.volume[level="3"] {
  background-image: url("../images/menu/volume-low.png");
}

.volume[level="4"] {
  background-image: url("../images/menu/volume-mute.png");
}

#exit-game {
  background-image: url("../images/menu/exit.png");
}

#instructions {
  background: url("../images/menu/interrogation.png");
}

#ranking {
  background-image: url("../images/menu/ranking.png");
}

#credits {
  background-image: url("../images/menu/developer.png");
}

.close-modal {
  mask: url("../images/menu/close.png") no-repeat center/70%;
  background-color: #f5f5f5;
  width: 6vmin;
  height: 6vmin;
  align-self: flex-end;
  position: absolute;
  border-radius: 10%;
  cursor: pointer;
}

.close-modal:hover {
  background-color: black;
}
