.modal-bigger {
  background: linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1vmin solid black;
  border-radius: 2.5%/5%;
}

.modal-menu {
  width: 50vmin;
  height: 30vmin;
  background: linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1vmin solid black;
  border-radius: 5%/10%;
}

.modal-bigger > div:first-child {
  width: 98%;
  height: 6vmin;
}

.modal-menu > div:first-child {
  width: 46vmin;
  height: 6vmin;
}

.modal-bigger > div:first-child,
.modal-menu > div:first-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-bigger > div:first-child > h1 {
  width: 50%;
  height: 6vmin;
}

.modal-menu > div:first-child > h1 {
  width: 25vmin;
  height: 6vmin;
}

.modal-bigger > div:first-child > h1,
.modal-menu > div:first-child > h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: 0.5vmin solid black;
  border-radius: 5%/20%;
  color: #f5f5f5;
  font-family: "Antonio-wght";
  font-weight: bold;
  font-size: 4vmin;
  line-height: 1.2;
}

.modal-bigger > div:last-child {
  width: 98%;
  height: 85%;
}

.modal-menu > div:last-child {
  width: 30vmin;
  height: 18vmin;
}

.modal-bigger > div:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  column-gap: 2vmin;
  row-gap: 1vmin;
}

.modal-menu > div:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 2vmin;
  row-gap: 1vmin;
}

#configuration-modal
  > div:last-child
  > button:nth-child(n + 1):nth-child(-n + 3) {
  width: 8vmin;
  height: 8vmin;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0.5vmin solid black;
  border-radius: 10%;
}

#configuration-modal
  > div:last-child
  > button:nth-child(n + 4):nth-child(-n + 5) {
  width: 13vmin;
  height: 8vmin;
  background-position: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0.5vmin solid black;
  border-radius: 10%/15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#configuration-modal > div:last-child > p {
  font-size: 3vmin;
  text-align: center;
  color: #f5f5f5;
  font-family: "Antonio-wght";
}

#configuration-modal > div:last-child > button {
  cursor: pointer;
  background-color: rgba(230, 198, 93, 0.8);

  color: black;
  font-family: "Antonio-wght";
  font-weight: bold;
  font-size: 4vmin;
  line-height: 1.2;
}

#configuration-modal > div:last-child > button:hover {
  background-color: rgba(230, 198, 93, 1) !important;
}

.volume[level="1"] {
  background-image: url("../images/menu/volume-high.png");
}

.volume[level="2"] {
  background-image: url("../images/menu/volume-middle.png");
}

.volume[level="3"] {
  background-image: url("../images/menu/volume-low.png");
}

.volume[level="4"] {
  background-image: url("../images/menu/volume-mute.png");
}

#exit-game {
  background-image: url("../images/menu/exit.png");
}

#instructions {
  background: url("../images/menu/interrogation.png");
}

#ranking {
  background-image: url("../images/menu/ranking.png");
}

#credits {
  background-image: url("../images/menu/developer.png");
}

.close-modal {
  -webkit-mask-image: url("../images/menu/close.png");
  -webkit-mask-size: 70%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url("../images/menu/close.png");
  mask-size: 70%;
  mask-repeat: no-repeat;
  mask-position: center;
  /* mask: url("../images/menu/close.png") no-repeat center/70%; */
  background-color: #f5f5f5;
  width: 6vmin;
  height: 6vmin;
  align-self: flex-end;
  position: absolute;
  border-radius: 10%;
  cursor: pointer;
}

.close-modal:hover {
  background-color: black;
}

#credits-modal > div:last-child {
  justify-content: space-between;
}

#credits-modal > div:last-child > p {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  font-family: "Antonio-wght";
  margin-bottom: 1vmin;
}

#credits-modal > div:last-child > div {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 9vmin;
}

#credits-modal > div:last-child > div:last-child {
  justify-content: space-between;
}

#credits-modal a {
  height: 18.5vmin;
  width: 18.5vmin;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.5vmin solid black;
  text-decoration: none;
}

#credits-modal a::before {
  position: relative;
  top: 18.5vmin;
  font-size: 2.5vmin;
  font-family: "Antonio-wght";
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: end;
}

#credits-modal .david {
  background: url("../images/devs/david-desenho.png") no-repeat center/auto 95%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .david::before {
  content: "DAVID GOMES";
}

#credits-modal .david:hover {
  background: url("../images/devs/david.jpg") no-repeat center/auto 100%;
}

#credits-modal .luan {
  background: url("../images/devs/luan-desenho.png") no-repeat center/auto 95%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .luan:hover {
  background: url("../images/devs/luan.jpg") no-repeat center/auto 100%;
}

#credits-modal .luan::before {
  content: "LUAN RAABE";
}

#credits-modal .joao {
  background: url("../images/devs/joao-desenho.png") no-repeat center/auto 95%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .joao:hover {
  background: url("../images/devs/joao.jpg") no-repeat center/auto 100%;
}

#credits-modal .joao::before {
  content: "JOÃO CÂNDIDO";
}

#credits-modal .samuel {
  background: url("../images/devs/samuel-desenho.png") no-repeat center/auto 95%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .samuel:hover {
  background: url("../images/devs/samuel.jpg") no-repeat center/auto 100%;
}

#credits-modal .samuel::before {
  content: "SAMUEL RODRIGUES";
}

#credits-modal .yete {
  background: url("../images/devs/yete-desenho.png") no-repeat center/auto 95%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .yete:hover {
  background: url("../images/devs/yete.jpg") no-repeat center/auto 100%;
}

#credits-modal .yete::before {
  content: "YETÉ LABARCA";
}

#credits-modal .nubia {
  background: url("../images/devs/nubia-desenho.png") no-repeat center/auto 95%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}
#credits-modal .nubia:hover {
  background: url("../images/devs/nubia.jpg") no-repeat center/auto 100%;
}

#credits-modal .nubia::before {
  content: "NÚBIA ALMEIDA";
}

#credits-modal .edtech {
  background: url("../images/others/edtech.webp") no-repeat center/95% auto,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .edtech::before {
  content: "REALIZADOR";
}

#credits-modal .github {
  background: url("../images/menu/github.png") no-repeat center top/auto 97%,
    linear-gradient(rgba(230, 198, 93, 0.8) 0%, rgba(230, 198, 93, 0.8) 100%);
}

#credits-modal .github::before {
  content: "REPOSITÓRIO GITHUB";
}

#info-score h2 {
  font-family: "Antonio-wght";
  color: white;
  font-size: 4vmin;
}

#info-score .show-score {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-size: 3vmin;
  font-family: "Antonio-wght";
  color: white;
}

#info-score .show-score p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-score #total-score,
#info-score #final-score {
  border-top: 0.5vmin solid white;
  margin-top: 1vmin;
}

#info-score button {
  padding: 0 1vmin 0 1vmin;
  height: 6vmin;
  background: linear-gradient(
      rgba(230, 198, 93, 0.8) 0%,
      rgba(230, 198, 93, 0.8) 100%
    ),
    linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
  box-sizing: border-box;
  border-radius: 10px;
  border: 0.5vmin solid black;
  cursor: pointer;
  font-size: 3vmin;
  font-family: "Antonio-wght";
}

#info-score button:hover {
  background: linear-gradient(
      rgba(230, 198, 93, 1) 0%,
      rgba(230, 198, 93, 1) 100%
    ),
    linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
}
