:root {
  --pan-off: url("../images/others/pan.png") no-repeat center/contain;
  --pan-noddle-1: radial-gradient(
        circle,
        /* 
        transparent 0%, 
        */ rgba(63, 94, 251, 0.5) 45%,
        transparent 45%
      )
      no-repeat center 100% / auto 99%,
    url("../images/foods/noddle1.png") no-repeat center/33%,
    url("../images/others/pan.png") no-repeat center/contain,
    radial-gradient(
        circle,
        rgba(161, 1, 0, 1) 30%,
        rgba(218, 31, 5, 0.9) 40%,
        rgba(218, 31, 5, 0.8) 45%,
        rgba(254, 101, 13, 0.7) 50%,
        rgba(255, 193, 31, 0.6) 55%,
        rgba(255, 247, 93, 0.5) 60%,
        transparent 75%
      )
      no-repeat center/contain;
  --pan-noddle-2: radial-gradient(
        circle,
        transparent 0%,
        rgba(63, 94, 251, 0.5) 45%,
        transparent 45%
      )
      no-repeat center 100% / auto 99%,
    /* url("../images/foods/noddle2.png") no-repeat center/70%, */
      url("../images/foods/noddle3.png") no-repeat center/55%,
    url("../images/others/pan.png") no-repeat center/contain,
    radial-gradient(
        circle,
        rgba(161, 1, 0, 1) 30%,
        rgba(218, 31, 5, 0.9) 40%,
        rgba(218, 31, 5, 0.8) 45%,
        rgba(254, 101, 13, 0.7) 50%,
        rgba(255, 193, 31, 0.6) 55%,
        rgba(255, 247, 93, 0.5) 60%,
        transparent 75%
      )
      no-repeat center/contain;
  --pan-noddle-3: radial-gradient(
        circle,
        transparent 0%,
        rgba(63, 94, 251, 0.5) 45%,
        transparent 45%
      )
      no-repeat center 100% / auto 99%,
    /* url("../images/foods/noddle2.png") no-repeat center/70%, */
      url("../images/foods/noddle3.png") no-repeat center/60%,
    url("../images/others/pan.png") no-repeat center/contain,
    radial-gradient(
        circle,
        rgba(161, 1, 0, 1) 30%,
        rgba(218, 31, 5, 0.9) 40%,
        rgba(218, 31, 5, 0.8) 45%,
        rgba(254, 101, 13, 0.7) 50%,
        rgba(255, 193, 31, 0.6) 55%,
        rgba(255, 247, 93, 0.5) 60%,
        transparent 75%
      )
      no-repeat center/contain;
}

#select-cooking {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 87.5%;
}

#noddle1 {
  width: 20%;
  height: 50%;
  object-fit: contain;
  align-self: center;
}

#noddle1:hover {
  cursor: grab;
  transform: scale(1.01);
}

#oven {
  width: 44%;
  height: 104%;
  position: relative;
  background-image: url("../images/others/oven.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96.15%;
  width: 29%;
}

.stove-clock {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stove-clock > .stove {
  width: 100%;
  height: 75%;
}

.column > .stove {
  width: 100%;
  height: 35%;
}

.stove {
  background: var(--pan-off);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stove:hover {
  cursor: grab;
}

.stove > .itemNoddle > img {
  width: 50%;
  height: 55%;
  object-fit: fill;
  object-position: center;
}

.itemNoddle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemNoddle > img {
  width: 80%;
  height: 80%;
  object-fit: fill;
  object-position: center;
}

#side-stove {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10%;
}

#ready {
  background-image: url("../images/others/bowl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
  width: 15vmin;
  height: 15vmin;
}

#ready > .itemNoddle {
  width: 15vmin;
  height: 15vmin;
}

#pan-to-noodles-and-broth {
  width: 30vmin;
  height: 5vmin;
  border-radius: 10px;
}

#pan-to-noodles-and-broth > img {
  height: 100%;
}
