#select-coocking {
  padding: 0;
  display: flex;
  flex-direction: row;
}

#table2 {
  width: 85%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#noddle1 {
  width: 100px;
  height: 100px;
}

#oven {
  background-image: url(../images/others/oven.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 2%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.stove {
  width: 100%;
  height: 40%;
  background-image: url(../images/others/pan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#ready {
  background-image: url(../images/others/box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}

#side-stove {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
}
