.ui-widget.ui-widget-content,
.ui-tabs,
.ui-widget-header {
  padding: 0 !important;
  border: none !important;
  border-radius: 0;
  box-sizing: border-box;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}

.ui-tabs .ui-tabs-nav li {
  float: none !important;
  margin: 0 0 0 0 !important;
  border: none !important;
  border-radius: 10px !important;
}

.ui-widget-header {
  background-color: transparent !important;
}

#select-order {
  padding: 0;
}

#game {
  background-color: rgba(57, 58, 53, 0.9);
  display: flex;
}

#curent-order {
  width: 25%;
  height: 100%;
  position: relative;
  background-color: #88371c;
}

#order-drop {
  width: 100%;
  height: 75.7%;
  display: flex;
  justify-content: center;
}
#order-drop > .order {
  display: flex;
  justify-content: center;
  z-index: 2;
}
#order-drop #clothespin {
  display: none;
}

#order-drop::before {
  content: "";
  display: flex;
  position: absolute;
  bottom: 23.5%;
  width: 87%;
  height: 68.9%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 5px double black;
  box-sizing: border-box;
}

#order-drop::after {
  content: "COLOQUE O PEDIDO AQUI";
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 23.5%;
  width: 87%;
  height: 68.9%;
}

#menu {
  height: 23.5%;
}

#menu > button {
  height: 38.5%;
  border-radius: 10px;
}

#kitchen {
  width: 75%;
}

#order-tabs {
  width: 100%;
  /*   height: 23%; */
  height: 12.42%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: lightgrey;
}

#btn-tabs {
  width: 100%;
  /*   height: 54%;*/
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3%;
}

#btn-tabs > li {
  width: 20%;
  height: 50%;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}
#btn-tabs > li > a {
  width: 100%;
  height: 100%;
  background-color: rgb(159, 81, 33) !important;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 3rem);
  color: #fff;
  cursor: pointer;
}

#btn-tabs > li > a:hover,
#btn-tabs > li > a:active {
  background-color: rgb(138, 71, 29) !important;
}
/* 
#order-list {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  box-sizing: border-box;
}

#order-list > ul {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: left;
  column-gap: 2.8%;
  position: relative;
  bottom: 20% ;
}

#order-list > ul > .pedido-varal {
  width: 5.7%;
  height: 120%;
} */

.table {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#table1 {
  justify-content: flex-start;
}

#table2 {
  width: 70%;
  height: 70vh;
}

#table3 {
  display: flex;
  flex-direction: column;
}

#noddle1 {
  width: 100px;
  height: 100px;
}

#ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

/* #draggable {
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
} */

#box {
  background-image: url(../images/others/box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  width: 400px;
  height: 380px;
  padding: 0.5em;
  float: left;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#droppable {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 180px;
  border: 1px solid black;
}

li {
  list-style: none;
}

#broth {
  display: flex;
  flex-direction: row;
}

#broth img {
  width: 100px;
  height: 100px;
}

#ingredients img {
  width: 100px;
  height: 100px;
}

.foods {
  width: 100px;
  height: 100px;
}

#trash {
  width: 100px;
  height: 100px;
  background-color: gray;
}

#outer-pot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-image: url(../images/others/box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pot {
  width: 200px;
  height: 160px;
  background-color: #add8e6;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#oven {
  background-image: url(../images/others/oven.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  max-width: 150px;
}

.stove {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-image: url(../images/others/pan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pans {
  height: 300px;
  width: 200px;
  background-color: brown;
}

#ready {
  background-image: url(../images/others/box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}

#select-order {
  display: flex;
  justify-content: center;
}

#orders {
  display: flex;
  column-gap: 1.9%;
  width: 90%;
  height: 40%;
  position: relative;
  background-color: rgba(173, 216, 230, 0);
}

#orders::before {
  content: "";
  width: 111.11%;
  height: 85%;
  left: -5.555%;
  bottom: 0;
  border-top: 3px solid black;
  position: absolute;
}

/* .order {
  background-image: url(../images/Pedido/pedido.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
} */

#orders > .order {
  height: 100%;
  width: clamp(11%, 12.6%, 14%);
  background-color: transparent;
}

/* .order>div{
  width: 50px;
  height: 50px;
} */
/* 
#res-ingredients {
  display: flex;
  flex-wrap: wrap;
} */

#side-stove {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

button {
  width: 60px;
  height: 60px;
}

button > img {
  width: 50px;
  height: 50px;
}

#select-coocking {
  display: flex;
  flex-direction: row;
}

.gameTabs {
  width: 100%;
  height: 77%;
}

.imMuted {
  background-color: green;
}
