#game {
  background: linear-gradient(
      241.55deg,
      rgba(221, 154, 86, 0.9) 17.13%,
      rgba(180, 110, 60, 0.9) 72.34%
    ),
    linear-gradient(#f5f5f5 0%, #f5f5f5 100%);
  display: flex;
}

#curent-order {
  width: 25%;
  height: 100%;
  position: relative;
  background: linear-gradient(194.69deg, #b83d2e 0%, #c26d33 100%);
}

#order-drop {
  width: 100%;
  height: 75.7%;
  display: flex;
  justify-content: center;
}

#order-drop > .order {
  display: flex;
  justify-content: center;
  z-index: 1;
}

#order-drop #clothespin {
  display: none;
}

#order-drop::before {
  content: "COLOQUE O PEDIDO AQUI";
  font-family: "Antonio-wght";
  font-weight: bold;
  font-size: 4vmin;
  text-shadow: 1px 1px 4px #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 23.5%;
  width: clamp(87%, 90%, 87%);
  height: 68.9%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 5px double black;
  box-sizing: border-box;
}

#menu {
  height: 23.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu > button {
  height: 38.5%;
  border-radius: 10px;
}

#kitchen {
  width: 75%;
}

#order-tabs {
  width: 100%;
  height: 12.42%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

#btn-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-tabs > li {
  width: 19.8%;
  height: 66.66%;
  background: transparent;
}

#btn-tabs > li > a {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(238, 119, 28, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 0 10.71% 0 10.71%;
  cursor: pointer;
}

#btn-select-order::before {
  background-image: url("../images/button-tabs/order.png");
  background-size: 70.71% auto;
}

#btn-select-cooking::before {
  background-image: url("../images/button-tabs/cooker.png");
  background-size: 70.71% auto;
}

#btn-select-broth::before {
  background-image: url("../images/button-tabs/broth.png");
  background-size: auto 70.71%;
}

#btn-select-ingredients::before {
  background-image: url("../images/button-tabs/lamen.png");
  background-size: auto 70.71%;
}

#btn-select-order::before,
#btn-select-cooking::before,
#btn-select-broth::before,
#btn-select-ingredients::before {
  content: "";
  width: 6vmin;
  height: 6vmin;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid black;
}

#btn-select-order::after {
  content: "PEDIDOS";
}

#btn-select-cooking::after {
  content: "COZIMENTO";
}

#btn-select-broth::after {
  content: "CALDO";
}

#btn-select-ingredients::after {
  content: "INGREDIENTES";
}

#btn-select-order::after,
#btn-select-cooking::after,
#btn-select-broth::after,
#btn-select-ingredients::after {
  width: 78.21%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Antonio-wght";
  font-weight: bold;
  font-size: 2.9vmin;
  text-shadow: 1px 1px 4px #ffffff;
}

#btn-tabs > li.ui-state-active {
  background-color: transparent;
  border: none;
  padding-bottom: 0;
}

#btn-tabs > li.ui-state-active > a,
#btn-tabs > li > a:hover {
  background: linear-gradient(
    0deg,
    rgba(217, 104, 13, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gameTabs {
  width: 100%;
  height: 87.58%;
  position: relative;
}

/* .table {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
} */

/* #trash {
  width: 100px;
  height: 100px;
  background-color: gray;
} */

#menu > button {
  width: 60px;
  height: 60px;
}

#menu > button > img {
  width: 50px;
  height: 50px;
}

.imSound {
  background-image: url("../images/menu/Sound_Icon.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imMuted {
  background-image: url("../images/menu/Mute_Icon.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.seat-top-view {
  height: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seat-top-view > img {
  height: 80%;
}

.table {
  width: 100%;
  height: 70%;
  background: url("../images/others/rockywall.png");
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  border-top: 13vmin solid saddlebrown;
}
