@import url("./abertura.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

@-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}
