/* Style Modules */
@import url("./opening.css");
@import url("./order.css");
@import url("./game.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "ds-digitalitalic";
  src: url("ds-digii-webfont.woff2") format("woff2"),
    url("ds-digii-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ds-digitalbold_italic";
  src: url("ds-digit-webfont.woff2") format("woff2"),
    url("ds-digit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ds-digitalnormal";
  src: url("ds-digi-webfont.woff2") format("woff2"),
    url("ds-digi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ds-digitalbold";
  src: url("ds-digib-webfont.woff2") format("woff2"),
    url("ds-digib-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General Style */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Remove Scroll */
@-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

main {
  width: 100vw;
  height: 100vh;
}
