/* Style Modules */
@import url("./opening.css");
@import url("./order.css");
@import url("./jqueryui-style-modify.css");
@import url("./game.css");
@import url("./cooking.css");
@import url("./broth.css");
@import url("./ingredients.css");
@import url("./modal.css");
@import url("./timer.css");
@import url("./keyframes.css");

/* Fonts */
@import url("./fonts.css");

/* General Style */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Remove Scroll */
@-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

main {
  width: 100vw;
  height: 100vh;
}
