:root {
  --ingredients-off: url("../images/others/bowl.png") no-repeat center/25vmin;

  --ingredients-noddle: url("../images/foods/noddle3.png") no-repeat
      center/20.6vmin,
    url("../images/others/bowl.png") no-repeat center/25vmin;

  --fish-ingredients: radial-gradient(
        circle,
        transparent 0%,
        rgba(221, 205, 156, 0.8) 64%,
        transparent 65%
      )
      no-repeat center/25vmin 25vmin,
    url("../images/foods/noddle3.png") no-repeat center/20.6vmin,
    url("../images/others/bowl.png") no-repeat center/25vmin;

  --chicken-ingredients: radial-gradient(
        circle,
        transparent 0%,
        rgba(230, 198, 93, 0.8) 64%,
        transparent 65%
      )
      no-repeat center/25vmin 25vmin,
    url("../images/foods/noddle3.png") no-repeat center/20.6vmin,
    url("../images/others/bowl.png") no-repeat center/25vmin;

  --meat-ingredients: radial-gradient(
        circle,
        transparent 0%,
        rgba(151, 47, 18, 0.9) 64%,
        transparent 65%
      )
      no-repeat center/25vmin 25vmin,
    url("../images/foods/noddle3.png") no-repeat center/20.6vmin,
    url("../images/others/bowl.png") no-repeat center/25vmin;

  --pork-ingredients: radial-gradient(
        circle,
        transparent 0%,
        rgba(74, 47, 15, 0.9) 64%,
        transparent 65%
      )
      no-repeat center/25vmin 25vmin,
    url("../images/foods/noddle3.png") no-repeat center/20.6vmin,
    url("../images/others/bowl.png") no-repeat center/25vmin;

  --shoyu-ingredients: radial-gradient(
        circle,
        transparent 0%,
        rgba(38, 32, 11, 0.9) 64%,
        transparent 65%
      )
      no-repeat center/25vmin 25vmin,
    url("../images/foods/noddle3.png") no-repeat center/20.6vmin,
    url("../images/others/bowl.png") no-repeat center/25vmin;
}

#select-ingredients {
  padding: 0;
}

.ingredients {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 95%;
}

.ingredients > li {
  width: 40%;
  height: 33%;
  object-fit: contain;
  list-style: none;
}

.ingredients li img {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

.ingredients li img:hover {
  cursor: grab;
  transform: scale(1.03);
}

#side-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
}

#tray {
  width: 50vmin;
  height: 33vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2vmin;
  background: radial-gradient(circle, #74766b 4.06%, #74766b 47.68%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10%/50%;
  box-shadow: inset -0.5vmin -0.5vmin 1vmin 0 rgba(0, 0, 0, 0.3);
}

#tray::before {
  content: "";
  position: absolute;
  width: 47vmin;
  height: 30vmin;
  background: radial-gradient(circle, #74766b 4.06%, #74766b 47.68%);
  border-radius: 10%/50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 1vmin 1vmin 2vmin 0 rgba(0, 0, 0, 0.3),
    -0.5vmin -0.5vmin 1vmin 0 rgba(0, 0, 0, 0.3);
}

#box {
  background: var(--ingredients-off);
  width: 25vmin;
  height: 25vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#droppable {
  width: 25vmin;
  height: 25vmin;
}

#order-completed {
  width: 15vmin;
  height: 22vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(194.69deg, #b83d2e 0%, #a15a2b 100%);
  border-radius: 1vmin;
  border: 0.5vmin solid black;
  box-sizing: border-box;
  z-index: 0;
}

#order-completed::before {
  content: "COLOQUE O PEDIDO AQUI";
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vmin;
  height: 19vmin;
  background-color: #e5b372;
  border-radius: 1vmin;
  border: 0.3vmin solid black;
  font-family: "Antonio-wght";
  font-weight: bold;
  color: white;
  font-size: 2.7vmin;
  text-shadow: 1px 1px 4px #000000;
  text-align: center;
}

#order-completed img,
#order-completed svg {
  height: 19vmin;
  z-index: 2;
}

.ingredients img {
  width: 100%;
  height: 100%;
}

#end-order {
  width: 30vmin;
  height: 10vmin;
  border-radius: 10px;
}

#end-order > img {
  height: 100%;
}
