#select-ingredients {
  padding: 0;
}

#ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 2%;
}

#side-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#box {
  background-image: url(../images/others/box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 380px;
  padding: 0.5em;
  float: left;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#droppable {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 220px;
  height: 180px;
}

#ingredients > li {
  list-style: none;
  width: 25%;
}

#ingredients img {
  width: 100%;
  height: 100%;
}
/* 
.foods {
  width: 80px;
  height: 80px;
}
 */
#end-order {
  width: 30vmin;
  height: 10vmin;
  border-radius: 10px;
}

#end-order > img {
  height: 100%;
}
