/* Doors Animation */
/* Door Left */
/* Safari 4+ */
@-webkit-keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
/* Fx 5+ */
@-moz-keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
/* Opera 12+ */
@-o-keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
/* IE 10+, Fx 29+ */
@keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}

/* Door Right */
/* Safari 4+ */
@-webkit-keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
/* Fx 5+ */
@-moz-keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
/* Opera 12+ */
@-o-keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
/* IE 10+, Fx 29+ */
@keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}

/* Door Zoom Fade Out */
/* Safari 4+ */
@-webkit-keyframes zoomFadeOut {
  from {
    scale: 1 1;
    transform: scale(1);
    opacity: 100%;
    top: 0;
  }
  to {
    scale: 4 4;
    transform: scale(4);
    opacity: 0;
    top: -50%;
  }
}
/* Fx 5+ */
@-moz-keyframes zoomFadeOut {
  from {
    scale: 1 1;
    transform: scale(1);
    opacity: 100%;
    top: 0;
  }
  to {
    scale: 4 4;
    transform: scale(4);
    opacity: 0;
    top: -50%;
  }
}
/* Opera 12+ */
@-o-keyframes zoomFadeOut {
  from {
    scale: 1 1;
    transform: scale(1);
    opacity: 100%;
    top: 0;
  }
  to {
    scale: 4 4;
    transform: scale(4);
    opacity: 0;
    top: -50%;
  }
}
/* IE 10+, Fx 29+ */
@keyframes zoomFadeOut {
  from {
    scale: 1 1;
    transform: scale(1);
    opacity: 100%;
    top: 0;
  }
  to {
    scale: 4 4;
    transform: scale(4);
    opacity: 0;
    top: -50%;
  }
}

/* order animation */
/* Clothespin change color */
/* Safari 4+ */
@-webkit-keyframes clothespinColor {
  0% {
    fill: green;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}
/* Fx 5+ */
@-moz-keyframes clothespinColor {
  0% {
    fill: green;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}
/* Opera 12+ */
@-o-keyframes clothespinColor {
  0% {
    fill: green;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}
/* IE 10+, Fx 29+ */
@keyframes clothespinColor {
  0% {
    fill: green;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}
