/* Doors Animation */
/* Door Left */
@-webkit-keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
@-moz-keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
@-o-keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
@keyframes doorL {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}

/* Door Right */
@-webkit-keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
@-moz-keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
@keyframes doorR {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}

/* Door Zoom Fade Out */
@keyframes zoomFadeOut {
  from {
    scale: 1 1;
    opacity: 100%;
    top: 0;
  }
  to {
    scale: 4 4;
    opacity: 0;
    top: -50%;
  }
}
