.popup-overlay, .popup-overlay-ranking {
    visibility: hidden;
    position: absolute;
    background: #ccc;
    border: 3px solid #666666;
    width: 70%;
    height: 94%;
    left: 27.5%;
    top: 3%
}

.popup-overlay.active, .popup-overlay-ranking.active {
    visibility: visible;
    text-align: center;
}

.popup-content, .popup-content-ranking {
    visibility: hidden;
}

.popup-content.active, .popup-content-ranking.active {
    visibility: visible;
}