.popup-overlay-order,
.popup-overlay,
.popup-overlay-ranking {
  visibility: hidden;
  position: absolute;
  background: #ccc;
  border-radius: 10px;
  width: 70%;
  height: 94%;
  display: flex;
  left: 27.5%;
  top: 3%;
}

.popup-overlay-order.active,
.popup-overlay.active,
.popup-overlay-ranking.active {
  visibility: visible;
  text-align: center;
}

.popup-content-order,
.popup-content,
.popup-content-ranking {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../images/opening/SakuraOpening.png");
  background-position: top;
  background-size: cover;
  border: 5px double black;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

.popup-content-order.active,
.popup-content.active,
.popup-content-ranking.active {
  visibility: visible;
}

#person-modal {
  height: 70%;
}

#info-score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 29.2%;
  width: 100%;
}

h2 {
  margin-top: 1rem;
}

#btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#btn-modal > button,
.popup-content-ranking > button {
  width: 40%;
  padding: 0.75%;
  margin: 1rem;
  border-radius: 10px;
  border: 5px double black;
}

#ranking {
  display: flex;
  justify-content: center;
  height: 50%;
  background-color: rgba(57, 58, 53, 0.9);
  color: #fff;
  width: 60%;
  border: 5px double black;
  border-radius: 10px;
}
