@import url("./keyframes.css");



.numbersvg {
  font-family: cursive;
  font-size: 2.3rem;
  fill: black;
}

#wood {
  fill: green;
  animation: clothespinColor 5s;
}
#arame {
  fill: #858383;
  stroke: rgb(122, 122, 122);
}
