#select-order {
  padding: 0;
  display: flex;
  justify-content: center;
}

#orders {
  display: flex;
  column-gap: 7%;
  width: 90%;
  height: 20%;
  position: relative;
  background-color: rgba(173, 216, 230, 0);
}

#orders::before {
  content: "";
  width: 111.11%;
  height: 85%;
  left: -5.555%;
  bottom: 0;
  border-top: 3px solid black;
  position: absolute;
}

#orders > .order {
  height: 100%;
  width: clamp(11%, 12.6%, 14%);
  background-color: transparent;
}

#balcao {
  width: 100%;
  height: 19.26%;
  position: absolute;
  bottom: 0;
}

#person {
  height: 50%;
  bottom: 14.26%;
  position: absolute;
}

.numbersvg {
  font-family: cursive;
  font-size: 2.3rem;
  fill: black;
}

#wood {
  fill: red;
  /*   animation: clothespinColor 5s; */
}

#arame {
  fill: #858383;
  stroke: rgb(122, 122, 122);
}

#all-clients {
  display: flex;
  height: 65%;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: space-around;
  align-items: flex-end;
}
/* 
#all-clients > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
 */
.seat {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat > img {
  width: 100%;
}

.take-my-order {
  height: 25vmin;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
}

.take-my-order::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -14px;
  background: linear-gradient(135deg, transparent 30%, white 30%);
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  rotate: 45deg;
  transform: rotate(45deg);
}

.order-balloon {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-balloon > .order {
  width: 100%;
  height: 100%;
}

.accept-decline {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.accept-decline > button {
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.accept-decline > button:hover {
  box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.4);
}

.accept {
  background-color: green;
  mask-image: url("../images/Pedido/check.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  box-sizing: border-box;
  border: 1px solid green;
  box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.4);
}

.decline {
  background-color: red;
  mask-image: url("../images/Pedido/deny.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  box-sizing: border-box;
  border: 1px solid red;
  box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.4);
}
