.clock {
  width: 6vmin;
  height: 4vmin;
  background: #0c0908;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0.4vmin solid rgb(52, 49, 48);
  border-radius: 10%/20%;
  font-family: digitalnormal;
  position: relative;
}

.clock > span {
  width: 2.1vmin;
  height: 4vmin;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 3.8vmin;
  color: crimson;
  position: relative;
  z-index: 2;
  left: 20;
}

.clock > span::before {
  content: "8";
  position: absolute;
  width: 2.1vmin;
  height: 100%;
  font-size: 3.8vmin;
  color: rgba(211, 211, 211, 0.2);
  z-index: -1;
  text-align: center;
}

#backtimesvg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #0c0908;
  stroke: rgb(52, 49, 48);
  stroke-width: 5px;
}

.numbertime {
  font-family: digitalnormal;
  font-size: 60px;
}
