@font-face {
    font-family: "ds-digitalnormal";
    src: url("../fonts/digi/digi.woff2") format("woff2"),
      url("../fonts/digi/digi.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.clock {
    margin-left: 30px;
    background: #0C0908;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 40px;
    border: 5px solid #160D08;
    border-radius: 10px;
    font-family: "ds-digitalnormal";
    position: relative;
}

.clock > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 30px;
    color: crimson;
    /* position: relative; */
    z-index: 1;
    left: 20;
}

.number::before {
    width: 50px;
    position: absolute;
    content: '8';
    font-size: 30px;
    color: lightgray;
    z-index: -1;
    text-align: center;
    gap: 0;
} 